.edit-form-container {
    display: flex;
    flex-direction: column;
    width: 20rem;
    min-height: 33vh;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-color: #232731;
    border: rgba(255, 255, 255, 0.2) 1px solid;
    border-radius: 20px;
    margin: 2rem;
    grid-column: 2 / span 3;
    gap: 1rem;

}

.edit-form-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#edit-form-answer-box, #edit-form-question-box {
    min-height: 3rem;
    width: 80%

}

.edit-button {
    align-self: center;

}




