.flashcard-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100vw;
	background-color: #232731;
	align-items: center;

	padding: 2rem;
	row-gap: 2rem;
	column-gap: 2rem;
}
.flashcard-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 20rem;
	background-color: #323949;
	border-radius: 10px;
	width: 100%;
	cursor: pointer;
	height: 100%;
}
.flashcard-deletebtn {
	align-self: flex-end;
	justify-self: space-between;
	height: 1rem;
	padding: 1rem;
}

.flashcard-emoji {
	font-size: 28px;
}
.flashcard-text {
	font-size: 18px;
	max-width: 80%;
	padding-bottom: 40px;
}

.flashcard-emoji {
	font-size: 5rem;
}

.flashcard-empty {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5rem;
	font-size: 2rem;
	background-color: #323949;
}
@media (max-width: 1000px) {
	.flashcard-grid {
		grid-template-columns: 1fr 1fr;
	}
}
@media (max-width: 750px) {
	.flashcard-grid {
		grid-template-columns: 1fr;
	}
}
