.header-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 30vh;
    background-color: #16181f;
    gap: 1rem;
    padding-block: 2rem;
}

.header-logo {
    height: 6rem;
}
